=====================================*/

#mensajeAbrir{

    margin-top:-70px;

    color:#b96b89;

    font-size:18px;

    transition:opacity 1s ease;

}

/*====================================
        OCULTAR
=====================================*/

.ocultar{

    opacity:0;

}

/*====================================
      RESPONSIVE
=====================================*/

@media(max-width:430px){

    .abanico-container{

        width:92%;

        transform:translateY(-110px);

    }

    .titulo h1{

        font-size:42px;

    }

    .titulo p{

        width:100%;

        font-size:17px;

    }

    #textoInvitacion{

        width:50%;

        top:34%;

    }

    #textoInvitacion h2{

        font-size:22px;

    }

    #textoInvitacion p{

        font-size:14px;

    }

}
/*=========================
        PETALOS
==========================*/

#petalos{

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:100%;

    z-index:3;

    pointer-events:none;

}

/* el abanico queda debajo */

#abanico{

    position:relative;

    z-index:2;

}
